////
//// Colour variables
//// @author Hatchd Digital
//// @group Colors
////

/// White
/// @type Variable
$white: #fff;

/// Black
/// @type Variable
$black: #000;

/// Yellow
/// @type Variable
$yellow: #FFFB88;

/// Red
/// @type Variable
$red: #aa3025;

// A really different color,
// explicitly for the ie8
// support message
// @type Color
$supportmessage: #FFE04E;

// Brand colours
$blueberry: #0072bc;
$plum: #c41d4a;
$butter: #ffc72a;
$mint: #50C546;

// Brand rhythm
// @type List
$brandrhythm: $blueberry, $plum, $butter, $mint;

/// Colors map tying usage to variable names
/// @type Map
$colors: (
    default: #333,
    black: $black,
    white: $white,
    muted: lighten($black,50%),
    highlight: $yellow,
    link: #0072bc,
    linkactive:lighten(#0072bc,10%),
    supportmessage: $supportmessage,
    background: #5AD57B,
    bubble: #fddcce
);
