extend templates/master

block pagecontent
    .menu
        a.menu-trigger(role="button" href="") Add
        ul
            -each val, index in locals.posttypes
                li.menu-option: a(href="")= val
