header.page-header(role="banner")
    .layoutwrap
        a.site-logo(href="./")= locals.projectinfo.title
        .profileinfo
            span.profileinfo-icon
            div.profileinfo-name
                a(href='#').label.icon-down-open Tom
                ul.profileinfo-menu
                    li: a(href='') Your sharable story


