/**
 * Webfonts
 *
 * Reference webfonts with an @font-face rule
 */

@import url('https://fonts.googleapis.com/css?family=Arvo:400,700,400italic');


@font-face {
  font-family: 'amass';
  src: url('../fonts/amass/amass.eot?51459371');
  src: url('../fonts/amass/amass.eot?51459371#iefix') format('embedded-opentype'),
       url('../fonts/amass/amass.woff?51459371') format('woff'),
       url('../fonts/amass/amass.ttf?51459371') format('truetype'),
       url('../fonts/amass/amass.svg?51459371#amass') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'amass';
    src: url('../fonts/amass/amass.svg?51459371#amass') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "amass";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-down-open:before { content: '\e800'; } /* '' */
.icon-left-open:before { content: '\e801'; } /* '' */
.icon-right-open:before { content: '\e802'; } /* '' */
.icon-up-open:before { content: '\e803'; } /* '' */
.icon-calendar-empty:before { content: '\e804'; } /* '' */
.icon-facebook:before { content: '\e805'; } /* '' */
.icon-twitter:before { content: '\e806'; } /* '' */
.icon-share:before { content: '\e807'; } /* '' */
.icon-tags:before { content: '\e808'; } /* '' */
.icon-star:before { content: '\e809'; } /* '' */
.icon-star-empty:before { content: '\e80a'; } /* '' */
.icon-heart-empty:before { content: '\e80b'; } /* '' */
.icon-heart:before { content: '\e80c'; } /* '' */
.icon-user:before { content: '\e80d'; } /* '' */
.icon-users:before { content: '\e80e'; } /* '' */
.icon-bookmark:before { content: '\e80f'; } /* '' */
.icon-cog:before { content: '\e810'; } /* '' */
.icon-clock:before { content: '\e811'; } /* '' */
.icon-location:before { content: '\e812'; } /* '' */
