/**
 * Shame file
 * Add quick changes here, to be incorperated properly at a later point
 */

/**
 * Layout wrap
 */

.layoutwrap{
    width: auto;
    max-width: 60rem;
    margin: auto;
}

/**
 * Menu
 */
$options: post, appt, mood, store;
$optionsize: 6rem;

.menu{
    @include setsize($optionsize);
    position: fixed;
    bottom: $optionsize;
    left: 50%;
    margin-left: -($optionsize / 2);
    ul{
        list-style: none;
    }
    li{
        display: inline;
    }
    a{
        @include setsize($optionsize);
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        border-radius: 100%;
        line-height: $optionsize;
        text-decoration: none;
        text-align: center;
        color: color(white);
        box-shadow: 0 .5rem .5rem fade-out(black,.8);
    }
    &-trigger{
        z-index: 1;
        background: $mint;
    }
    &-option{
        $i: 0;
        $l: length($options);
        @for $i from 1 through $l{
            &:nth-child(#{$l}n + #{$i}) a{
                background: color( nth($options,$i) );
                transition-delay: .1 * $i#{'s'};
            }
            $i: $i + 1;
        }
        a{
            transition: all .1s ease;
            transform: scale(.5);
        }
    }
    &.is-active{
        .menu-option{
            &:nth-child(1) a{
                transform: translate(-($optionsize + 1rem),0) scale(1);
            }
            &:nth-child(2) a{
                transform: translate(-(($optionsize / 2) + 1rem),-($optionsize + 1rem)) scale(1);
            }
            &:nth-child(3) a{
                transform: translate((($optionsize / 2) + 1rem),-($optionsize + 1rem)) scale(1);
            }
            &:nth-child(4) a{
                transform: translate(($optionsize + 1rem),0) scale(1);
            }
        }
    }
}

/**
 * Entry
 */
.entry{
    margin-bottom: 2rem;
    padding: 2rem;
    border-radius: .5rem;
    border-top: 1rem solid transparent;
    background: white;
    box-shadow: .5rem .5rem fade-out(black,.8);
    & > :first-child{
        margin-top: 0;
    }
    & > :last-child{
        margin-bottom: 0;
    }
    @each $option in $options{
        &.entry--cat-#{$option}{
            border-top-color: color($option);
        }
    }
}
