/**
 * Page header
 */

.page-header{
    background-color: darken($plum,10%);
    padding:{
        top: 2rem;
        bottom: 2rem;
    };
    .layoutwrap{
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
    }
}
.site-logo{
    @include setsize(10rem 5rem);
    background: url('../images/logo.svg') no-repeat center center/contain;
    text-indent: 110%;
    white-space: nowrap;
    overflow: hidden;
    @include breakpoint('pebble'){
        @include setsize(15rem 7rem);

    }
}
.site-nav{
    flex: 1 1;
    align-self: center;
    text-align: right;
    ul{
        display: inline-block;
    }
    li{
        display: inline-block;
        vertical-align: middle;
        margin-left: 1em;
    }
    a{
        display: inline-block;
        padding: .5em 1em;
        border-radius: .5rem;
        color: color('bubble');
        background-color: $plum;
        text-decoration: none;
        &:hover{
            color: color(white);
        }
        &.state--current{
            background-color: color('bubble');
            color: $plum;
            &:hover{
                color: $plum;
            }
        }
    }
    .text{
        display: none;
    }
    @include breakpoint('pebble'){
        .text{
            display: inline-block;
        }
        a:before{
            display: none;
        }
    }
}
.challengecount{
    @include setsize(2rem);
    display: inline-block;
    margin-left: 1rem;
    border-radius: 100%;
    background-color: $plum;
    color: color(white);
    font-weight: bold;
    line-height: 2rem;
    text-align: center;
}
