@import url(https://fonts.googleapis.com/css?family=Lato);

.entry-inner:after {
	content: ' ';
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	font-size: 0;
}

@font-face {
	font-family: 'amass';
	src: url("../fonts/amass/amass.eot?51459371");
	src: url("../fonts/amass/amass.eot?51459371#iefix") format("embedded-opentype"),url("../fonts/amass/amass.woff?51459371") format("woff"),url("../fonts/amass/amass.ttf?51459371") format("truetype"),url("../fonts/amass/amass.svg?51459371#amass") format("svg");
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: "amass";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: .2em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-down-open:before {
	content: '\e800';
}

.icon-left-open:before {
	content: '\e801';
}

.icon-right-open:before {
	content: '\e802';
}

.icon-up-open:before {
	content: '\e803';
}

.icon-calendar-empty:before {
	content: '\e804';
}

.icon-facebook:before {
	content: '\e805';
}

.icon-twitter:before {
	content: '\e806';
}

.icon-share:before {
	content: '\e807';
}

.icon-tags:before {
	content: '\e808';
}

.icon-star:before {
	content: '\e809';
}

.icon-star-empty:before {
	content: '\e80a';
}

.icon-heart-empty:before {
	content: '\e80b';
}

.icon-heart:before {
	content: '\e80c';
}

.icon-user:before {
	content: '\e80d';
}

.icon-users:before {
	content: '\e80e';
}

.icon-bookmark:before {
	content: '\e80f';
}

.icon-cog:before {
	content: '\e810';
}

.icon-clock:before {
	content: '\e811';
}

.icon-location:before {
	content: '\e812';
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
video {
	display: inline-block;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

nav ul,
nav ol {
	margin: 0;
	list-style: none;
}

nav li {
	margin: 0;
}

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

a {
	background: transparent;
}

a:focus {
	outline: thin dotted;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

hr {
	box-sizing: content-box;
	height: 0;
}

code,
kbd,
pre,
samp {
	font-family: monospace, serif;
	font-size: 1em;
}

pre {
	white-space: pre-wrap;
}

q {
	quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 0;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

button,
input,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	margin: 0;
}

.touch input,
.touch textarea,
.touch select {
	font-size: 16px !important;
}

button,
input {
	line-height: normal;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 140%;
	line-height: 1.5em;
	font-family: "lato",sans-serif;
	color: #333;
}

p,
li,
dt,
dd,
input,
textarea,
button {
	line-height: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.3em;
	font-family: "lato",sans-serif;
	margin: 1em 0 .5em;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1em;
}

h5 {
	font-size: 1em;
}

h6 {
	font-size: 1em;
}

p {
	margin: 0 0 1em 0;
}

hr {
	height: 0;
	margin: 0 0 1em 0;
	padding: 0;
	border: none;
	border-top: 1px solid gray;
}

blockquote {
	margin: 0 0 1em 3em;
}

blockquote>p {
	margin-bottom: .60em;
	font-size: 1.4em;
}

blockquote>p:first-child:before {
	content: '\201C';
}

blockquote>p:first-child:after {
	content: '\201D';
}

blockquote footer p {
	margin: -.5em 0 0 0;
	font-size: .85em;
	font-style: italic;
}

blockquote footer p:before {
	content: '-';
}

q {
	color: inherit;
	font-style: italic;
}

cite {
	font-style: italic;
}

ul,
ol,
dl {
	margin: 0 0 1em 2em;
	padding: 0;
}

li {
	margin: 0 0 .25em 0;
}

ul {
	list-style: disc outside;
}

ul ul {
	margin: .25em 0 .5em 1em;
}

ol {
	list-style: decimal outside;
}

ol ol {
	margin: .25em 0 .5em 1.5em;
	list-style-type: lower-roman;
}

dl {
	margin-left: 0;
}

dt {
	margin: 0 0 .5em 0;
	font-weight: bold;
}

dd {
	margin: 0 0 .5em 0;
}

sup,
sub {
	position: relative;
	vertical-align: baseline;
	font-size: 75%;
	line-height: 0;
}

sup {
	top: -.5em;
}

sub {
	bottom: -.25em;
}

ins {
	background-color: #FFFB88;
}

del {
	text-decoration: line-through;
}

s {
	color: gray;
	text-decoration: line-through;
}

mark {
	background-color: #FFFB88;
	color: inherit;
	font-weight: normal;
}

small {
	font-weight: normal;
	font-style: normal;
}

strong,
b {
	font-weight: bold;
}

em,
i {
	font-style: italic;
}

dfn,
abbr {
	position: relative;
	font-style: inherit;
}

a {
	color: #84cbc5;
	text-decoration: underline;
}

a:hover {
	color: #0091ef;
	text-decoration: none;
}

a[href^="tel"] {
	color: inherit;
}

:focus {
	outline: none;
}

::-moz-selection {
	color: #fff;
	background: #84cbc5;
}

::selection {
	color: #fff;
	background: #84cbc5;
}

::-webkit-selection {
	color: #fff;
	background: #84cbc5;
}

::-moz-selection {
	color: #fff;
	background: #84cbc5;
}

::-ms-selection {
	color: #fff;
	background: #84cbc5;
}

.fieldgroup {
	margin-bottom: 2rem;
}

form {
	position: relative;
	margin: 0 0 1em 0;
}

fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

legend {
	margin: 0 0 .5em 0;
	padding: 0;
	font-size: 1;
}

label {
	display: inline-block;
	margin: 0 0 .25em 0;
}

input,
textarea,
select {
	display: block;
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	color: #333;
}

input,
textarea {
	padding: 10px 15px;
	border: 1px solid gray;
	border-radius: 0;
}

input:not([type="radio"]):not([type="checkbox"]):not([type="range"]),
textarea {
	-webkit-appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
	display: inline-block;
	width: auto;
	float: left;
	border: none;
	margin: .25em .5em 0 0;
}

input[type="file"] {
	padding: 0;
	border: none;
}

input[type="date"] {
	padding-right: 0;
}

button,
input[type="submit"] {
	padding: .5em;
	cursor: pointer;
}

::-webkit-input-placeholder {
	color: #84cbc5;
}

:-moz-placeholder {
	color: #84cbc5;
	opacity: 1;
}

::-moz-placeholder {
	color: #84cbc5;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #84cbc5;
}

img {
	display: block;
	width: auto;
	max-width: 100%;
	border: 0;
	margin: 0 0 1em 0;
}

img[src*="maps.gstatic.com"] {
	max-width: none;
}

figure {
	display: block;
	margin: 0 0 1em 0;
	padding: 0;
}

figure img {
	margin-bottom: 0;
}

figcaption {
	margin-top: .5em;
	font-style: italic;
}

table {
	width: 100%;
	margin: 0 0 1em 0;
	border: 1px solid #333;
}

table,
th,
td {
	border-collapse: collapse;
}

th,
td {
	padding: .5em;
	border: 1px dotted #333;
	border-top: none;
	border-right: none;
	text-align: left;
}

thead th {
	border-bottom: 2px solid #333;
}

tfoot td {
	border-bottom: none;
	font-size: .85em;
	font-style: italic;
}

head {
	font-family: '{""grain"": "(min-width:12.5em)",""pebble"": "(min-width:37.5em)",""mountain"": "(min-width:50em)",""eagleeyes"": "(min-device-pixel-ratio:2) and (min-resolution:192dpi)",""-webkit-eagleeyes"": "(-webkit-min-device-pixel-ratio:2) and (-webkit-min-resolution:192dpi)"}';
}

html {
	background: linear-gradient(to bottom, #84cbc5, #fdd4c7) fixed;
}

body {
	padding: 10rem 2rem;
}

.page-header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	padding: 1rem 0;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0.5rem rgba(0,0,0,0.2);
}

.page-header .layoutwrap {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-content: space-between;
	-ms-flex-line-pack: justify;
	align-content: space-between;
}

.site-logo {
	width: 4rem;
	height: 4rem;
	background: url("../images/logo.svg") no-repeat center center/contain;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.profileinfo {
	width: auto;
}

.layoutwrap {
	position: relative;
	width: auto;
	max-width: 60rem;
	margin: auto;
}

.menu {
	width: 6rem;
	height: 6rem;
	position: fixed;
	bottom: 6rem;
	left: 50%;
	z-index: 10;
	margin-left: -3rem;
}

.menu ul {
	list-style: none;
}

.menu li {
	display: inline;
}

.menu a {
	width: 6rem;
	height: 6rem;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	border-radius: 100%;
	line-height: 6rem;
	text-decoration: none;
	text-align: center;
	color: #fff;
	box-shadow: 0 0.5rem 0.5rem rgba(0,0,0,0.2);
}

.menu-trigger {
	z-index: 1;
	background: #84cbc5;
}

.menu-option:nth-child(4n+1) a {
	background: #f8d35e;
	transition-delay: 0.1s;
}

.menu-option:nth-child(4n+1) a:before {
	background-image: url("../images/post.svg");
}

.menu-option:nth-child(4n+2) a {
	background: #ea5a4e;
	transition-delay: 0.2s;
}

.menu-option:nth-child(4n+2) a:before {
	background-image: url("../images/appt.svg");
}

.menu-option:nth-child(4n+3) a {
	background: #7cc8ec;
	transition-delay: 0.3s;
}

.menu-option:nth-child(4n+3) a:before {
	background-image: url("../images/mood.svg");
}

.menu-option:nth-child(4n+4) a {
	background: #fdd4c7;
	transition-delay: 0.4s;
}

.menu-option:nth-child(4n+4) a:before {
	background-image: url("../images/store.svg");
}

.menu-option a {
	transition: all .1s ease;
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
}

.menu-option a:before {
	width: 100%;
	height: 100%;
	content: ' ';
	display: block;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 70% auto;
}

.menu.is-active .menu-option:nth-child(1) a {
	-webkit-transform: translate(-7rem, 0) scale(1);
	transform: translate(-7rem, 0) scale(1);
}

.menu.is-active .menu-option:nth-child(2) a {
	-webkit-transform: translate(-4rem, -7rem) scale(1);
	transform: translate(-4rem, -7rem) scale(1);
}

.menu.is-active .menu-option:nth-child(3) a {
	-webkit-transform: translate(4rem, -7rem) scale(1);
	transform: translate(4rem, -7rem) scale(1);
}

.menu.is-active .menu-option:nth-child(4) a {
	-webkit-transform: translate(7rem, 0) scale(1);
	transform: translate(7rem, 0) scale(1);
}

.entry {
	margin-bottom: 2rem;
	overflow: hidden;
}

.entry-inner {
	position: relative;
	overflow: hidden;
	padding: 2rem 2rem 2rem 6rem;
	border-radius: .5rem;
	background: white;
	box-shadow: 0.5rem 0.5rem rgba(0,0,0,0.2);
}

.entry-inner>:first-child {
	margin-top: 0;
}

.entry-inner>:last-child {
	margin-bottom: 0;
}

.entry-inner:before {
	width: 4rem;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	content: ' ';
	display: block;
	background: grey;
}

.entry.entry--cat-post .entry-inner:before {
	background: url("../images/post.svg") no-repeat 50% 3rem/3rem 3rem #f8d35e;
}

.entry.entry--cat-appt .entry-inner:before {
	background: url("../images/appt.svg") no-repeat 50% 3rem/3rem 3rem #ea5a4e;
}

.entry.entry--cat-mood .entry-inner:before {
	background: url("../images/mood.svg") no-repeat 50% 3rem/3rem 3rem #7cc8ec;
}

.entry.entry--cat-store .entry-inner:before {
	background: url("../images/store.svg") no-repeat 50% 3rem/3rem 3rem #fdd4c7;
}

.entry--add {
	max-height: 0;
	margin-bottom: 0;
	transition: all .5s ease;
}

.entry--add.is-active {
	max-height: 100rem;
	margin-bottom: 2rem;
}

.share-btn {
	display: inline-block;
	float: right;
}

.share-btn:before {
	width: 1.5em;
	height: 1.5em;
	content: ' ';
	display: inline-block;
	vertical-align: bottom;
	margin-right: .5rem;
	background: url("../images/share.svg");
}

