/**
 * Shame file
 * Add quick changes here, to be incorperated properly at a later point
 */

.filter{
    position: relative;
    width: auto;
    max-width: 80rem;
    margin: auto;
    padding: 2rem;
    color: color('bubble');
    &-form{
    }
    &-row{
        width: 100%;
        padding: 2rem 0;
        &-inner{
            display: flex;
            flex-wrap: wrap;
            align-content: space-between;
            > *{
                margin: auto;
            }
        }
    }
    &-label{
        margin-bottom: 0;
        padding: 1rem;
        font-weight: bold;
        &[for='filter-time']{
            display: inline-block;
            vertical-align: top;
            + input{
                display: inline-block;
                width: 15rem;
            }
        }
        @include breakpoint('pebble'){
            @include font('emphasized');
        }
    }
    &-group{
        display: inline-block;
    }
    &-break{
        padding: 1rem;
        text-align: center;
        .filter-label{
            font-weight: normal;
            font-style: italic;
        }
    }
    &-section{
        &-select{
            position: relative;
            width: 100%;
            max-width: 60rem;
            margin: auto;
            label{
                display: none;
            }
            select{
                margin: 0;
                padding: 2rem;
                border: .2rem solid darken($plum,5%);
                -webkit-appearance: none;
                background: color('bubble');
                color: $plum;
                font-weight: bold;
                @include breakpoint('pebble'){
                    @include font('emphasized');
                }
            }
            &:before{
                @include setsize(2rem);
                content:' ';
                position: absolute;
                top: 2rem;
                right: 3rem;
                display: block;
                background: url('../icons/arrow-keyline-down.svg') no-repeat center center/contain;
                @include breakpoint('pebble'){
                    @include setsize(3rem);
                }
            }
        }
        &--select-skill{
            position: relative;
            display: none;
            padding-top: 2rem;
            &:before{
                top: 4rem;
            }
            &.state--active{
                display: block;
            }
        }
    }
    &-tab{
        display: inline-block;
        input{
            display: none;
        }
        label{
            border-radius: .5rem;
            color: color('bubble');
        }
        input:checked + label,
        input[selected] + label{
            background: color('bubble');
            color: $plum;
        }
    }
}

.section-header{
    @include font('emphasized');
    margin: 0 0 2rem;
    color: color('bubble');
    text-align: center;
    @include breakpoint('pebble'){
        @include font('large');
    }
}
#map{
    width: auto;
    height: 60rem;
    border-radius: 2rem;
}
.kindness-meter{
    margin-bottom: 0;
    padding-bottom: 2rem;
    color: color('bubble');
    text-align: center;
    .btn{
        display: block;
        max-width: 20rem;
        margin-top: 1rem;
        margin-right: auto;
        margin-left: auto;
    }
    @include breakpoint('pebble'){
        @include font('emphasized');
        .btn{
            display: inline-block;
            margin-top: 0;
            margin-left: 1rem;
        }
    }

}
.btn{
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: .5rem;
    background-color: $blueberry;
    box-shadow: 0 .5rem 0 0 darken($blueberry,20%);
    color: color('bubble');
    text-decoration: none;
    cursor: pointer;
    &:hover{
        color: color(white);
        background-color: darken($blueberry,5%);
    }
}
.pagehead{
    padding:{
        right: 2rem;
        left: 2rem;
    };
    .section-header{
        margin-bottom: 0;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}
